


.streaming-area {
   @apply fixed bottom-5 right-5 border rounded-sm;
}

.streaming-video {
    width: 325px;
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
    transform: scaleX(-1);
}

.streaming-area:hover .streaming-control {
    opacity: 1;
    transition-delay: 0ms;
}

.streaming-control {
    @apply absolute flex justify-center w-full bottom-3 opacity-0 delay-300 transition-all duration-75
}