@tailwind base;
@tailwind components;
@tailwind utilities;


.center {
   @apply flex items-center justify-center;
}

input:focus, textarea:focus {
      outline: none;
}

div::-webkit-scrollbar-thumb {
    display: none;
}

div::-webkit-scrollbar-track {
  display: none;
}